@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap" rel="stylesheet");
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/container2.css");
@import url("components/button2.css");
@import url("components/banner2.css");
@import url("components/card2.css");
@import url("components/container3.css");
@import url("components/button3.css");
@import url("components/banner3.css");
@import url("components/card3.css");
@import url("components/container4.css");
@import url("components/button4.css");
@import url("components/banner4.css");
@import url("components/card4.css");



body {
	font-family: 'Quicksand',sans-serif;
	font-size: 18px;
	margin: 0px;
}

h1 {
	font-family: 'Quicksand',sans-serif;
	font-weight: bold;
	font-style: italic;
	color: #054683;
}

h2 {
	font-family: 'Quicksand',sans-serif;
	font-weight: bolder;
	font-size: 20px;
}

h2, h3 {
	font-family: 'Quicksand',sans-serif;
	font-weight: bolder;
}

h3 {
	font-family:'Oswald', sans-serif;
	font-weight: bolder;
	font-size: 50px;
}

h4 {
	font-family: 'Quicksand',sans-serif;
	font-weight: bolder;
	font-size: 20px;

}
	

a {
	text-decoration: none;
}

.container {
	width: 1000px;
	margin: 0 auto;


.input#itinerary {
    width: 500px;
}

.banner-container {
	width: 1000px;
	margin: 0 auto;
}

	
.card3 {
	padding: 20px;
	width: 600px;
	align-items: center;
	justify-content: space-between;
	border-radius: 6px;
	color: black;
	padding: 30px 30px;
	text-align: center;
	font-size: 15px;
	margin: 0 auto;
	background-color: #D3D3D3;	
	box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
	margin-top: 50px;
    margin-bottom: 50px;
}

.container4 {
	max-width: 1300px;
	margin: 0 auto;
	display: flex;
}
