.card4 {
	width: 500px;
	align-items: left;
	justify-content: space-between;
	border-radius: 6px
	color: black;
	padding: 90px 30px;
	text-align: center;
	font-size: 15px;
	background-color: #D3D3D3;	
	box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
	margin-top: 50px;
    margin-bottom: 50px;

}

.card4 img {
	padding: 60px;
	align-items: center;
	width: 400px;
	height: 400px;
	justify-content: space-between;
	box-shadow: 10px;
	
}

}

.card4 > h1 {
    font-family: 'Quicksans', sans-serif;
}


.card4 > h1 {
    font-family: 'Quicksans', sans-serif;
    font-style: normal;
    color: black;
}

